@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto&display=swap&family=Rubik");
p, a, li {
  font-family: "Rubik", "Roboto", "Arial";
  color: #333;
  margin: 0px; }

label, h1, h2, h3, h4, h5, h5, button {
  margin: 0px;
  font-family: "Rubik", "Open Sans", "Arial";
  color: #333; }

html {
  height: 100%;
  margin: 0; }

body {
  min-height: 100vh;
  margin: 0; }

#login.body {
  margin: 0; }

#login-page {
  min-height: 100vh;
  background: linear-gradient(-180deg, #4a0072 100%, #7b1fa2 100%) no-repeat;
  padding: 0;
  margin: 0; }
  #login-page .container {
    width: 100%;
    min-height: 100vh;
    display: flex; }
    #login-page .container .container-inner {
      width: fit-content;
      margin: auto; }
      #login-page .container .container-inner .branding {
        width: 200px;
        margin: auto;
        display: block; }
    #login-page .container .login {
      width: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: center;
      background: white;
      padding: 5vh 5vw;
      border-radius: 5px; }
      #login-page .container .login input, #login-page .container .login input-webkit-autofill {
        width: 100%;
        height: 25px;
        color: #333333; }
      #login-page .container .login .register > form > div > input {
        display: none;
        opacity: 0;
        z-index: 1; }
      #login-page .container .login .register {
        margin: 0px; }
      #login-page .container .login h1 {
        font-family: "Rubik", "Roboto", "Arial";
        font-size: 25px;
        z-index: 2; }
      #login-page .container .login * {
        margin: 5px 0px;
        color: purple;
        font-weight: 100;
        width: 100%; }
      #login-page .container .login .homepage-button {
        width: 100%;
        height: 35px;
        border-radius: 5px;
        box-shadow: none;
        border: none;
        font-size: 15px;
        letter-spacing: 1.2px;
        color: white; }
      #login-page .container .login #login-button.homepage-button {
        transition: 1s;
        background: #6c86ff; }
      #login-page .container .login #signup-button.homepage-button {
        transition: 1s;
        background: #7b1fa2; }
      #login-page .container .login #login-button.homepage-button:hover {
        transition: 1s;
        background: #99acff; }
      #login-page .container .login #signup-button.homepage-button:hover {
        transition: 1s;
        background: #9826c9; }
      #login-page .container .login .homepage-button:focus {
        outline: none; }
      #login-page .container .login input:focus, #login-page .container .login input:hover {
        outline: none;
        transition: 0s;
        border: 1px solid #7b1fa2;
        padding: 2px 3px; }
    #login-page .container .energy-brands {
      color: white;
      text-align: center;
      position: absolute;
      bottom: 5px;
      font-size: 10px;
      margin: auto;
      width: 100%; }

/*======================================
                        # App Container #
======================================*/
.app-page-container {
  display: flex;
  min-height: 100vh;
  width: 100%; }

/*======================================
                    # App Components #
======================================*/
.app-component-container {
  min-height: 100vh; }

.app-component-container.navigation {
  box-shadow: 8px 0px 20px 6px #33333380;
  background: #1E2786;
  width: 22%;
  max-height: 100%; }
  .app-component-container.navigation .app-component-inner {
    display: flex;
    height: 100vh; }
    .app-component-container.navigation .app-component-inner .navigation-left {
      padding: 30px 5px;
      width: 15%;
      max-height: 100vh;
      background: #151b5c; }
    .app-component-container.navigation .app-component-inner .navigation-right {
      padding: 30px 20px; }
      .app-component-container.navigation .app-component-inner .navigation-right ul {
        padding: 10px 0px; }
      .app-component-container.navigation .app-component-inner .navigation-right ul > li {
        margin: 20px 0px; }
    .app-component-container.navigation .app-component-inner * {
      color: white;
      list-style: none;
      text-decoration: none; }

.app-component-container.dashboard {
  width: 53%; }

/*======================================
                    # App Task Highlight #
======================================*/
.app-component-container.task-highlight {
  width: 25%;
  box-shadow: -4px 0px 25px 0px #33333380; }
  .app-component-container.task-highlight .app-component-inner {
    margin: 5px 5px 0px 5px; }
    .app-component-container.task-highlight .app-component-inner .tagColor {
      height: 10px;
      width: 10px;
      display: inline-block;
      background: red;
      border-radius: 500px; }
    .app-component-container.task-highlight .app-component-inner .tagInner {
      display: flex;
      padding: 0px;
      cursor: pointer;
      width: fit-content; }
      .app-component-container.task-highlight .app-component-inner .tagInner p {
        margin: 0px;
        font-size: 14pt;
        margin-left: 10px; }
      .app-component-container.task-highlight .app-component-inner .tagInner span {
        margin: auto 0px; }
      .app-component-container.task-highlight .app-component-inner .tagInner ::selection {
        background: rgba(0, 0, 0, 0); }
    .app-component-container.task-highlight .app-component-inner .tagInner[data-istrue~="false"] > * {
      opacity: 0.55; }
    .app-component-container.task-highlight .app-component-inner .tagInner[data-istrue~="true"] > * {
      opacity: 1; }

.inputVisible {
  margin: 5px;
  z-index: 1;
  transition: 1.25s;
  opacity: 1 !important;
  display: inline-block !important; }

.success {
  color: #08b90e !important; }

.failed {
  color: #EB5757 !important; }

/*# sourceMappingURL=style.css.map */
