doctype html
html(lang="en" id="login")
  head
    title ToDo Application
    meta(name='description', content='Home page')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/style/animations.css')
    link(rel='stylesheet', href='/style/home-style.css')
    link(rel='stylesheet', href='/style/global.css')
  body(id="login-page")
    .container
      .container-inner
        div.login
          a(href="/")
            img(src="img/branding/tewdu-branding.png" class="branding")
          h1.border.center#login-text Log in to your Tewdu account
          p.status.failed
          form(action="/login" method="POST")
            div.username
              input(type="text" name="username" placeholder="Email")
            div.password
              input(type="password" name="password" placeholder="Password")
          span.login-button-container
            button.homepage-button(value='Log In' id="login-button") Log In
          
          div.register
            form(action="/register" method="POST" class="register-form")
              div.firstName
                input(type="text" name="email" placeholder="Email")
              div.firstName
                input(type="text" name="firstName" placeholder="First Name")
              div.lastName
                input(type="text" name="lastName" placeholder="Last Name")
              div.password
                input(type="password" name="password" placeholder="Password")
              div.login-button
          button.homepage-button(value='Log In' id="signup-button") Signup
      -let year = new Date().getFullYear()
      p.energy-brands  Tewdu Planning Co. © #{year} All rights reserved. <br>⚡ An Energy Online Brands Company ⚡




script(src="/js/global.cs.js")
script(src="/js/home.cs.js")